{% extends "messages/email/applicant_base.html" %}

{% load i18n %}
{% block content %}{% blocktrans with old_status=old_phase.public_name new_status=source.phase.public_name schema=request.scheme host=request.get_host url=source.get_absolute_url %}Your application is now in "{{ new_status }}" status (progressed from "{{ old_status }}").

Please submit any questions related to your application here {{ scheme }}://{{ host }}{{ url }}#communications

Please do not reply to this email with questions related to your application.{% endblocktrans %}{% endblock %}
